.header-wrapper{
    position: relative;
    background: url(background-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
}


.main-info{
    padding-top: 150px;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}