/***********Navbar********** */
.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  overflow: hidden;
  z-index: 1;
  width: 100%;
  
  top: 0;
  
  opacity: 0.9;
  top: 0;
  /* box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8); */
}

.logo{
    height: 30px;
  }
  
  /* nav-link */
  nav a .nav-link{
  font-size: 10px;
  font-weight: 500;
  }
  
  nav ul li{
    text-transform: uppercase;
  }
  
  .nav-item{
    margin-right: 0;
    color: white;
  }
  .nav-item:hover{
    color: orange;
  }