/***********Navbar********** */
.logo{
    height: 30px;
  }
  
  /* nav-link */
  nav a .nav-link{
  font-size: 10px;
  font-weight: 500;
  }
  
  nav ul li{
    text-transform: uppercase;
  }
  
  .nav-item{
    margin-right: 0;
    color: white;
  }
  .nav-item:hover{
    color: orange;
  }